{% extends "layout.njk" %}

{% block head %}

    <title>{{recipes[recipeIndex].title}}</title>
    {# <link rel="stylesheet" href="/details.css"> #}

{% endblock %} 

{% block content %}

<h1>truco</h1>

{% endblock %} 
